{% extends 'base.html.twig' %}

{% block title %}Modification Son Profil{% endblock %}

{% block body %}

    <h1>Modification des informations utilisateurs</h1>

    {# TODO Remanier le formulaire pour le visuel widget, contraintes, class #}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.birthdate) }}

    <button type="submit" class="btn btn-outline-success">Valider</button>
    {{ form_end(form) }}

    <a href="{{ path('profile') }}" class="btn btn-outline-warning" href="">Retour</a>





{% endblock %}
