{% extends 'base.html.twig' %}

{% block title %} Tableau des utilisateurs {% endblock %}

{% block body %}

  <h1 class="text-center my-5">Gestion de vos utilisateurs hihi</h1>

<table class="table table-hover table-striped">
  <thead>
  <tr class="text-center">
    <th scope="col">ID</th>
    <th scope="col">Catégories</th>
  </tr>
  </thead>
  <tbody>

{#
  {% for animal in animals %}
  <tr class="table-light text-center">

    <th scope="row">{{ animal.id }}</th>
    <td>{{ animal.name }}</td>
    <td><a href="{{ path('users_modify', {id:animal.id}) }}" class="text-uppercase btn btn-outline-dark">Modifier</a>
    <a href="{{ path('users_delete', {id:animal.id}) }}" class="text-uppercase btn btn-outline-danger">Supprimer</a></td>

  </tr>
  {% endfor %}
#}

  </tbody>
</table>

  <a href="{{ path('admin') }}" class="btn btn-outline-dark">RETOUR</a>

{% endblock %}
